# Visual Studio build outputs and temp files
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Compilation outputs
*.obj
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.pch
*.res
*.aps
*.ncb
*.suo
*.user
*.userosv
*.bak
*.cache
*.log
UpgradeLog*.htm
UpgradeLog*.XML
_UpgradeReport_Files/
Backup/
